pymongo
pymssql
pandas
sqlalchemy
kafka-python
apache-airflow
ciso8601
influxdb-client[ciso]
kubernetes<24,>=21.7.0
scikit-learn
imbalanced-learn
tensorflow
tensorflow-gpu
ipython
matplotlib
seaborn
apache-airflow-providers-cncf-kubernetes
cuda-python
psycopg2-binary
flask
pyts
streamlit
streamlit-autorefresh
numba==0.53.1
numpy==1.19.5
